<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="signup-header">
      <h2>Sign Up</h2>
    </header>
    <main>
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            value="<%= data ? data.username : '' %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
        <% if (errors && errors.length > 0) { %>
        <div class="errors">
          <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
          </ul>
        </div>
        <% } %>
        <div class="signup-actions">
          <button class="action-button" type="submit">Sign Up</button>
        </div>
        <p>Have an account? <a href="/login">Login</a></p>
      </form>
    </main>
  </body>
</html>
